.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
}

@media screen and (min-width: 769px) {
    .form {
        width: 430px;
    }
}

@media screen and (max-width: 768px) {
    .form {
        width: 282px;
    }
}