.card__list {
    display: grid;
    row-gap: 20px;
    list-style: none;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    .card__list {
        column-gap: 17px;
        grid-template-columns: 282px 282px auto;
        grid-template-rows: auto auto;
        width: 880px;
    }
}

@media screen and (max-width: 1199px) {
    .card__list {
        column-gap: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .card__list {
        grid-template-columns: 282px auto;
        grid-template-rows: auto auto auto;
        width: 584px;
    }
}

@media screen and (min-width: 769px) {
    .card__list {
        margin-top: 51px;
    }
}

@media screen and (max-width: 768px) {
    .card__list {
        grid-template-columns: auto;
        grid-template-rows: auto;
        max-width: 282px;
        margin-top: 36px;
    }
}