.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 1200px) {
    .header {
        width: 880px;
        height: 74px;
        margin: 45px auto 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .header {
        width: 584px;
        margin: 45px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 56px;
        margin: 28px 0 0;
    }
}