.user__add-button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 2px;
    cursor: pointer;
}

.user__add-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 769px) {
    .user__add-button {
        background-image: url(../../../images/arrow_big.svg);
        width: 150px;
        height: 50px;
        margin: auto 0px auto auto;
    }
}

@media screen and (max-width: 768px) {
    .user__add-button {
        background-image: url(../../../images/arrow.svg);
        max-width: 282px;
        width: 100%;
        height: 50px;
        margin: 36px auto 0;
    }
}