.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
    .content {
        max-width: 880px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .content {
        max-width: 584px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 320px;
    }
}