.user {
    display: flex;
}

@media screen and (min-width: 1200px) {
    .user {
        width: 880px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .user {
        width: 584px;
    }
}

@media screen and (min-width: 769px) {
    .user {
        margin-top: 40px;
        flex-direction: row;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .user {
        margin: 0 auto;
        flex-direction: column;
    }
}