@media screen and (max-width: 768px) {
    .popup__image {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .popup__image {
        height: 540px;
    }
}

@media screen and (max-width: 768px) {
    .popup__image {
        width: 240px;
    }
}