@media screen and (max-width: 768px) {
    .popup__image {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .popup__image {
        max-width: 75vw;
        max-height: 75vh;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .popup__image {
        width: 240px;
    }
}