.page {
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
    
}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
}

.user__image {
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.name {
    font-weight: 500;
    color: #ffffff;
}

.name::after {
    display: inline-block;
    content: '';
    background: url(../images/edit_icon.svg) no-repeat;
    background-size: cover;
}

.job-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.add_button {
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.card {
    display: grid;
    list-style: none;
    padding: 0;
}

.card__item {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px;
    width: 282px;
    height: 361px;
    position: relative;
    margin: 0;
    padding: 0;
}

.card__caption {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 246px;
    height: 23px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 31px;
    left: 21px;
}

.card__heart-icon {
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.card__image {
    border-radius: 10px 10px 0 0;
    width: 282px;
    height: 282px;
}

.popup {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 282px;
    height: 322px;
    margin: auto;
    padding: 0;
    position: relative;
    top: 30px;
}

.form_caption {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 25px 0 0;
}

.form_item_name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 75px 22px 30px;
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.form_item_job-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 22px 45px;
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.form_submit {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background-color: #000000;
    border-radius: 2px;
    color: #ffffff;
    width: 238px;
    height: 46px;
    margin: 0 auto 25px;
    border: none;
    outline: none;
}

.close_icon {
    position: absolute;
    top: calc(0 - 20px - 16px);
    right: 0px;
}

.footer {
    
}

.footer__copy {
    font-weight: 400;
    color: #545454;
}

@media screen and (min-width: 769px) {
    .header {
        width: 880px;
        height: 74px;
        margin: 45px auto 0;
    }

    .content {
        width: 880px;
    }

    .user {
        flex-direction: row;
        margin-top: 40px;
        width: 880px;
        position: relative;
    }

    .row-spacing-left {
        display: flex;
        flex-direction: column;
        margin: auto 0;
    }

    .row-spacing-right {
        display: flex;
        flex-direction: column;
        margin: auto 0 auto auto;
    }

    .name {
        font-size: 42px;
        line-height: 48px;
        margin: 0 0 0 30px;
    }

    .job-name {
        margin: 16px 0 0 30px;
    }

    .name::after {
        width: 24px;
        height: 24px;
        margin-left: 18px;
    }

    .add_button {
        width: 22px;
        height: 22px;
        padding: 14px 64px;
        margin: auto 0px auto auto;
    }

    .card {
        gap: 20px 17px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        width: 880px;
        margin: 51px auto 0;
    }

    .footer {
        width: 880px;
        margin: 67px auto 60px;
    }
    
    .footer__copy {
        font-size: 18px;
        line-height: 22px;
        width: 318px;
        height: 18px;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 56px;
        margin: 28px 0 0;
    }
    
    .header__logo {
        margin-left: 27px;
    }
    
    .content {
        width: 320px;
    }
    
    .user {
        margin: 0 auto;
        flex-direction: column;
    }
    
    .user__image {
        margin: 42px auto 0;
    }
    
    .name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: 26px 10px 0;
    }
    
    .name::before {
        display: inline-block;
        content: '';
        background-size: cover;
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
    
    .name::after {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
    
    .job-name {
        text-align: center;
        margin: 14px 0 0;
    }
    
    .add_button {
        width: 16px;
        height: 16px;
        margin: 36px 19px 0;
        padding: 17px 132px;
    }
    
    .card {
        gap: 20px;
        width: 282px;
        margin: 36px 19px 0;
    }
    
    .footer {
        width: 320px;
        margin-top: 48px;
        margin-bottom: 36px;
    }
    
    .footer__copy {
        font-size: 14px;
        line-height: 17px;
        width: 282px;
        height: 14px;
        margin: 0 19px 0;
    }
}
