.form-user-new__caption {
    font-weight: 900;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 769px) {
    .form-user-new__caption {
        font-size: 24px;
        line-height: 29px;
        text-align: left;
        margin-left: 36px;
    }
}

@media screen and (max-width: 768px) {
    .form-user-new__caption {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
}